@media(min-width:1024px) and (max-width:1279px){
	.header-middle .container .center{
		display: flex;
	}
	.header-middle .container .center .main-logo{
		font-size: 15px;
	}
	.header-middle .container .center .ulockd-info h3{
		font-size: 15px;
	}
	.header-middle .container .center .ulockd-info button{
		font-size: 15px;
	}
}
@media (min-width:768px) and (max-width:1023px){
	.img-whp {
		width: 100% !important;
		min-height: 250px;
		max-height: 250px;
		border-radius: 20px;
		padding: 7px;
	}
	.activity-img {
		width: 320px;
		height: 220px;
		border-radius: 15px;
		margin: 20px 0px;
	}
	.col-sm-8 {
		width: 70%;
	}
	.project-box {
		display: flex;
		gap: 10px;
		flex-direction: row;
		align-items: center;
	}
	.testimonial-img {
		width: 100%;
		border-radius: 20px;
		/* padding-left: 1px; */
		min-height: 280px;
		max-height: 280px;
		background-image: cover;
	}
	#grid{
		margin: 10px;
	  }
	  .gallImg{
		width: 320px;
		padding: 5px;
		height: 250px;
		border-radius: 25px;
	  }
	.recent-causes {
		/* background-color: #da3030; */
		padding: 0px 0px;
	}
	.col-md-6 {
		display: grid;
		place-items: center;
	}
	.col-md-6 p{
		max-width: 690px;
	}
	/* .ulockd-main-title {
		display: grid;
		place-items: center;
	} */

	.img-whp {
		width: 100% !important;
		max-height: 300px;
		min-height: 300px;
		border-radius: 20px;
		padding: 7px;
	}
	.ulockd-main-title h4 {
	   text-align: center;

	}
	.color-white {
		color: #ffffff !important;
		text-align: center;
	}
	.feature-box {
		display: flex;
		flex-direction: column;
		gap: 30px;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.ulockd-main-title h2 {
		color: #111;
		font-size: 35px;
		width: 100%;
	}


}
@media (max-width:767px){
	.header-nav .navbar .container .mobile-header{
		display: flex;
		justify-content: space-between;
		width: 100vw;
	}
	nav.navbar.bootsnav .navbar-collapse.collapse.in {
		display: block;
		width: 100vw !important;
	}
	.activity-img {
		width: 100%;
		height: 300px;
		border-radius: 15px;
		margin: 20px 0px;
	}
	#grid{
		margin: 10px;
		display: flex;
		text-align: center;
		justify-content: center;
	  }
	  .gallImg{
		width: 100%;
		text-align: center;
		padding: 5px;
		height: 380px;
		border-radius: 25px;
	  }

	nav.navbar{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.display .ulockd-welcntxt {
		font-size: 15px;
		text-align: center;
		width: 100%;

	}
	.pagination>li>a, .ulockd-title-icon, .ulockd-gallery-slider .owl-prev, .ulockd-gallery-slider .owl-next, .team-icon a, .twitter.style2 ul li a, .text-thm2 {
		color: #ffb606 !important;
		font-size: 20px;
	}
	.cd-hero-slider h1, .cd-hero-slider h2, .cd-hero-slider h3, .cd-hero-slider p {
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		line-height: 1.2;
		margin: 0 auto 14px;
		color: #ffffff;
		width: 100%;
		max-width: 400px;
		font-size: 25px;
	}
	.cd-hero-slider h4{
		font-size: 15px;
		max-width: 200px;
	}
	.cd-hero-slider .cd-btn{
		display: inline-block;
	    padding: 15px;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #ffffff;
		text-transform: uppercase;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
		-webkit-transition: background-color 0.8s;
		-moz-transition: background-color 0.8s;
		transition: background-color 0.8s;
	}
	.cd-hero-slider h1, .cd-hero-slider h2, .cd-hero-slider h3, .cd-hero-slider p {
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		line-height: 1.2;
		margin: 0 auto 14px;
		color: #ffffff;
		width: 100%;
		font-size: 20px;
	}
	.cd-hero-slider h3{
		font-size: 12px;
		max-width: 300px;
	}
	.ulockd-pad395 {
	  margin: 20px;
	}
	.ulockd-main-title h2 {
		color: #111;
		font-size: 20px;
	}
	.abt-txt {
		font-size: 20px;
		word-break: break-all;
		word-wrap: break-word;
		line-height: 1.6;
	}
	.pagination>li>a, .ulockd-title-icon, .ulockd-gallery-slider .owl-prev, .ulockd-gallery-slider .owl-next, .team-icon a, .twitter.style2 ul li a, .text-thm2 {
		color: #ffb606 !important;
		font-size: 20px;
		text-align: center;
	}
	.pb-details > h3 {
		margin-top: 0;
		font-size: 15px;
	}
	.ulockd-pad395 {
		margin: 20px;
	}
	p {
		margin: 0px !important;
		text-align: justify;
		word-break: break-all;
		word-wrap: break-word;
	}
	h4 {
		font-size: 12px;
	}
	.masonry-gallery.grid-four-item .isotope-item {
		width: 100%;
		height: auto;
	}
	.col-lg-4	 {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.ulockd-footer-fst-col > p {
		color: #fff;
		 font-size: 10px;
		 text-align: center;
		 display: flex;
		 justify-content: center;
		 max-width: 300px;
	}
	.footer-logo {
		color: #ffb606;
		line-height: 1.2;
		font-size: 15px;
	}
	.cd-hero-slider {

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.ulockd-footer-fst-col {
		padding: 5px;
	}
	.ulockd-footer-contact h3, .ulockd-footer-lnews h3, .flickr-widget h3, .ulockd-footer-qlink h3, .ulockd-footer-twitter h3, .flickr-widget h3 {
		color: #fff;
		font-weight: bold;
		padding: 5px;
		font-size: 20px;
	}
	.list-unstyled {
		list-style: none;
		padding: 5px;
		margin: 0;
	}
	nav.navbar.bootsnav .navbar-collapse.collapse.in {
		display: block !important;
		width: 320px;
	}
	.color-white {
		color: #ffffff !important;
		text-align: center;
	}
	.img-whp {
		width: 100% !important;
		min-height: 300px;
		max-height: 300px;
		border-radius: 20px;
		padding: 7px;
	}
}
@media (max-width:320px){
	.back-colr, .header-nav .main-header-nav.navbar-scrolltofixed, nav.navbar.bootsnav.menu-style1 {
		background-color: orange;
	}
	nav.navbar{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.display .ulockd-welcntxt {
		font-size: 10px;
	}
	.pagination>li>a, .ulockd-title-icon, .ulockd-gallery-slider .owl-prev, .ulockd-gallery-slider .owl-next, .team-icon a, .twitter.style2 ul li a, .text-thm2 {
		color: #ffb606 !important;
		font-size: 20px;
	}
	.cd-hero-slider h1, .cd-hero-slider h2, .cd-hero-slider h3, .cd-hero-slider p {
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		line-height: 1.2;
		margin: 0 auto 14px;
		color: #ffffff;
		width: 100%;
		max-width: 400px;
		font-size: 25px;
	}
	.cd-hero-slider h4{
		font-size: 15px;
		max-width: 200px;
	}
	.cd-hero-slider .cd-btn{
		display: inline-block;
	    padding: 15px;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 1px;
		color: #ffffff;
		text-transform: uppercase;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
		-webkit-transition: background-color 0.8s;
		-moz-transition: background-color 0.8s;
		transition: background-color 0.8s;
	}
	.cd-hero-slider h1, .cd-hero-slider h2, .cd-hero-slider h3, .cd-hero-slider p {
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		line-height: 1.2;
		margin: 0 auto 14px;
		color: #ffffff;
		width: 100%;
		font-size: 20px;
	}
	.cd-hero-slider h3{
		font-size: 12px;
		max-width: 300px;
	}
	.ulockd-pad395 {
	  margin: 20px;
	}
	.ulockd-main-title h2 {
		color: #111;
		font-size: 20px;
	}
	.abt-txt {
		font-size: 16px;
		word-break: break-all;
		word-wrap: break-word;
		line-height: 1.6;
	}
	.pagination>li>a, .ulockd-title-icon, .ulockd-gallery-slider .owl-prev, .ulockd-gallery-slider .owl-next, .team-icon a, .twitter.style2 ul li a, .text-thm2 {
		color: #ffb606 !important;
		font-size: 20px;
		text-align: center;
	}
	.pb-details > h3 {
		margin-top: 0;
		font-size: 15px;
	}
	.ulockd-pad395 {
		margin: 20px;
	}
	p {
		margin: 0px !important;
		text-align: justify;
		word-break: break-all;
		word-wrap: break-word;
	}
	h4 {
		font-size: 12px;
	}
	.masonry-gallery.grid-four-item .isotope-item {
		width: 100%;
	}
	.ulockd-footer-fst-col > p {
		color: #fff;
		 font-size: 10px;
		 text-align: center;
	}
	.footer-logo {
		color: #ffb606;
		line-height: 1.2;
		font-size: 15px;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.ulockd-footer-fst-col {
		padding: 5px;
	}
	.ulockd-footer-contact h3, .ulockd-footer-lnews h3, .flickr-widget h3, .ulockd-footer-qlink h3, .ulockd-footer-twitter h3, .flickr-widget h3 {
		color: #fff;
		font-weight: bold;
		padding: 5px;
		font-size: 20px;
	}
	.list-unstyled {
		list-style: none;
		padding: 5px;
		margin: 0;
	}
	nav.navbar.bootsnav .navbar-collapse.collapse.in {
		display: block !important;
		width: 320px;
	}
	.color-white {
		color: #ffffff !important;
		text-align: center;
	}
}